@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  transition: 150ms ease-in-out all;
  font-family: Arial, Helvetica, sans-serif;
}

$rounded: 10px;

@mixin flexAllCenter($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: center;
  align-items: center;
}

@mixin buttonStyles {
  padding: 10px;
  border-radius: 5px;
}

body {
  min-height: 100vh;
}

header {
  text-align: center;

  h1{margin-bottom: 10px;}
  h2{
    margin-bottom: 10px;
    @media screen and (max-width: 500px) {
      font-size: 18px;
      
    }
  }

  @media screen and (max-width:890px) {
    padding-top: 25px;
    
  }

}

.linksMenu{
  @include flexAllCenter(row);
  gap:8px;

  a{color: black}
}

main {
  @include flexAllCenter(column);
  min-height: 100vh;
}

button {
  @include buttonStyles();
}

.matchWordLettersContainerGrid{
  display: grid;
  grid-template-columns: repeat(3,minmax(100px, 1fr));
  grid-template-rows: repeat(auto,minmax(100px, 1fr));
  place-items: center;
  gap:15px;

}

.switchThemeButton {
  position: fixed;
  z-index: 5;
  top: 20px;
  right: 0;

  width: 65px;
  height: 65px;

  font-size: 20px;

  border: 2px solid #dbdbdb;

  @media screen and (max-width: 585px) {
    top: initial;
    bottom: 12px;
    right: 10px;
  }
}

.darkTheme {
  background-color: black;
  h1,
  h2,
  h3,
  label {
    color: white;
  }

  .container__darkTheme {
    color: black;
    background-color: white !important;
  }

  input:focus {
    outline: 2px solid #dbdbdb;
  }
}

.gameplaySection {
  @include flexAllCenter(row);

  @media screen and (max-width: 890px) {
    flex-direction: column;
    text-align: center;

    .container {
      align-self: center;
    }
  }
}

.hangmanSection {
  @include flexAllCenter(column);
}

.matchLetterHolder {
  @include flexAllCenter(row);
  width: 60px;
  height: 60px;
  font-size: 18px;
  background-color: rgba(235, 235, 235, 0.733);
  border-bottom: 2px solid #8a8a8a;
}

.matchLetterHolder__darkTheme {
  background-color: white !important;
}

.matchWordLettersContainer {
  @include flexAllCenter(row);
  gap: 20px;

  width: 100%;
  flex-wrap: wrap;
}

.sendLetterForm {
  @include flexAllCenter(column);
  padding: 10px;

  label {
    font-weight: bold;
    margin-bottom: 8px;
  }

  input {
    width: 60px;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 2px solid black;
    border-radius: $rounded;
  }

  button {
    margin-top: 10px;
  }
}

.disabledFormStyles {
  opacity: 80%;
  cursor: not-allowed;
}

.clueMenu {
  margin: 18px 0px;

  @media screen and (max-width: 890px) {
    @include flexAllCenter(column);
  }
}

.wrongLettersRecipient {
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    min-width: 180px;
    min-height: 40px;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
}

.letterClue {
  width: 100px;
  padding: 10px;
  border-radius: $rounded;
  text-align: center;
  background-color: #dbdbdb;
}

.errorFigure {
  padding: 10px;
  margin: 10px 0px;

  border-radius: $rounded;
  background-color: #dc3545;
  color: white;
}
